<a id="{{id}}" class="rounded-full bg-blue text-white font-bold text-center text-sm px-6 py-2 uppercase inline-flex transition-all hover:bg-headings {{styles}} " href="{{url}}">
	{{text}}
	{% if icon %}
		<svg class="w-5 h-5 ml-4 text-white fill-white opacity-80">
			<use xlink:href="{{icon}}"></use>
		</svg>
	{% endif %}
</a>
