<div class="z-30 menu-overlay"></div>

<div class="relative w-full h-auto menu_bg">
	<nav class="absolute top-0 left-0 z-40 justify-end hidden w-full main-menu laptop:flex">
		<ul class="relative inline-flex items-start justify-end gap-10 pb-6 pr-10 pt-7 desktop:pr-28">

			{% for item in menu.items %}
				<li class="flex flex-col items-center justify-center text-white cursor-pointer group menu-item" data-menu="{{item.id}}">
					<span class="text-lg font-semibold uppercase desktop:text-xl group-hover:opacity-80">{{item.name}}</span>
					{% if item.children %}
						<svg class="w-5 h-5 text-white">
							<use xlink:href="{{site.url}}/app/themes/1619/assets/build/icons.svg#chevron-down"></use>
						</svg>
					{% endif %}
				</li>
			{% endfor %}
			{% for item in menu.items|filter(item => item.children)  %}
				<div class="absolute left-0 grid grid-cols-4 gap-4 transition-all top-full children-menu" id="{{item.id}}">
					{% for children in item.children|batch(2) %}
						<div>
							{% for child in children %}
								<div class="mb-5">
									<a class="block mb-3 font-bold text-white desktop:text-lg hover:underline focus:rign-blue" href="{{child.link}}">{{child.name}}</a>
									<div class="flex flex-col gap-2">
										{% for child2 in child.children %}
											<a class="flex items-center gap-2 text-sm text-white hover:underline focus:rign-blue" class="block" href="{{child2.link}}">
												<svg class="flex-shrink-0 w-3 h-3 text-yellow">
													<use xlink:href="{{site.url}}/app/themes/1619/assets/build/icons.svg#star"></use>
												</svg>

												{{child2.name}}
											</a>
										{% endfor %}
									</div>
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</ul>
	</nav>
</div>
