<h1 class="hidden">
  Mkama Tanzania
  <span>disfruta de una aventura inolvidable</span>
</h1>

<header class="fixed inset-x-0 h-[105px] top-0 z-50 mx-auto text-white transition-all duration-100 max-w-screen-lg-desktop" id="header">
  <nav class="flex justify-center items-center py-8 lg:px-8" aria-label="Global">
    <div class="absolute top-3 left-4">
      <a id="logo" href="{{ site.url }}" class="hidden flex-col justify-center items-center"><img src="{{ img_folder }}/logo.png" alt="logo" class="w-48" /></a>
      <a id="logo-white" href="{{ site.url }}" class="flex flex-col justify-center items-center"><img src="{{ img_folder }}/logo-white.png" alt="logo" class="w-48" /></a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="{{ fn('is_home') ? '#quienes-somos' : site.url ~ '#quienes-somos' }}" class="leading-6 uppercase hover:bg-[#99772E] hover:text-white transition-all duration-200 px-4 py-2 rounded-full">Quienes somos</a>
      <a href="{{ fn('is_home') ? '#destinos' : site.url ~ '#destinos' }}" class="leading-6 uppercase hover:bg-[#99772E] hover:text-white transition-all duration-200 px-4 py-2 rounded-full">Destinos</a>
      <a href="{{ fn('is_home') ? '#viajes-a-medida' : site.url ~ '#viajes-a-medida' }}" class="leading-6 uppercase hover:bg-[#99772E] hover:text-white transition-all duration-200 px-4 py-2 rounded-full">A medida</a>
      <a href="{{ site.url }}/contacto" class="leading-6 uppercase hover:bg-[#99772E] hover:text-white transition-all duration-200 px-4 py-2 rounded-full">Contacto</a>
    </div>
  </nav>
  <div class="hidden absolute right-4 top-1/2 flex-col items-center -translate-y-1/2 lg:flex">
    <a href="tel:+34123456789" class="flex items-center gap-2 text-xs hover:text-[#99772E] hover:underline transition-all duration-200">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
      </svg>+34 648 865 619
    </a>
    <a href="tel:+34123456789" class="flex items-center gap-2 text-xs hover:text-[#99772E] hover:underline transition-all duration-200">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
      </svg>+255 713 123 456
    </a>
    <a href="mailto:info@mkamatanzania.com" class="flex items-center gap-2 text-xs hover:text-[#99772E] hover:underline transition-all duration-200">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
      </svg>info@mkamatanzania.com
    </a>
    <a href="https://instagram.com/mkamatanzania" target="_blank" class="flex items-center gap-2 text-xs hover:text-[#99772E] hover:underline transition-all duration-200">
      <i class="text-lg fab fa-instagram"></i>
      mkamatanzania
    </a>
  </div>
  <button id="js-menu-open" class="flex absolute right-12 top-1/2 flex-col gap-1 items-center -translate-y-1/2 lg:hidden"><i class="text-3xl fa-solid fa-bars"></i></button>
</header>
<div class="relative w-full" style="{{ fn('is_home') ? 'height: calc(100vh / 1.3);' : 'height:calc(100vh / 2);' }}">
  <div class="absolute top-0 left-0 z-20 w-full h-full bg-black/40"></div>
  {% if fn('is_home') %}
    <video autoplay loop muted class="object-cover absolute top-0 left-0 z-10 w-full" style="height: calc(100vh / 1.3);">
      <source src="{{ homepage.video }}" type="video/mp4" />Your browser does not support the video tag.
    </video>

    <div class="absolute overflow-hidden top-1/2 left-1/2 z-30 w-[95%] flex flex-col items-center justify-center -translate-x-1/2 -translate-y-1/2">
      <div class="w-full swiper-container header-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="flex flex-col justify-center items-center">
              <h2 class="mb-8 text-xl font-light text-center text-white laptop:text-4xl">Embárcate en una aventura inolvidable con <span class="block mt-4 text-2xl text-center laptop:text-6xl"><span class="font-black uppercase">Mkama</span> Viajes Tanzania</span></h2>
              <h2 class="mb-8 text-xl font-light text-white laptop:text-4xl">Sin intermediarios</h2>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="flex flex-col justify-center items-center">
              <h2 class="mb-8 font-light text-center text-white laptop:text-2xl"><span class="block mb-4 text-2xl font-bold uppercase laptop:text-4xl">Nuestro propósito: <br /></span> creamos experiencias que te acompañarán siempre, <br /> donde cada viajero vive una aventura única, <br /> con excelencia en cada detalle</h2>
            </div>
          </div>
        </div>
      </div>
      <a href="{{ site.url }}/#destinos" class="inline-flex w-fit py-2 px-4 text-center bg-[#99772E] z-30 text-white shadow-md rounded-lg hover:bg-white hover:text-[#99772E] transition-all duration-200 hover:-translate-y-2">Descubre nuestras experiencias</a>
    </div>
  {% else %}
    <img src="{{ post.thumbnail.src }}" alt="video" class="object-cover absolute top-0 left-0 z-10 w-full" style="height: calc(100vh / 2);" />
    <div class="absolute top-1/2 left-1/2 z-30 w-[90%] flex flex-col items-center justify-center -translate-x-1/2 -translate-y-1/2">
      <h1 class="mb-8 text-xl font-light text-white laptop:text-4xl reveal-header">{{ post.title }}</h1>
      <a href="#destinos" class="inline-flex reveal-image w-fit py-2 px-4 text-center bg-[#99772E] z-30 text-white shadow-md rounded-lg hover:bg-white hover:text-[#99772E] transition-all duration-200 hover:-translate-y-2">Descubre nuestras experiencias</a>
    </div>
  {% endif %}

  {# <div class="absolute bottom-0 left-0 z-30 w-full lazy h-[100px] bg-center bg-repeat-x bg-contain" data-bg="{{ img_folder }}/img_3.png"></div> #}
</div>
